.minMaxCloseButtonsDiv{
  display: flex;
  flex-direction: row;
}

.minMaxCloseButton{
  margin-left: 1em;
  color: black;
  background: var(--windowsGrey);
  width: 1.5em;
  height: 1.5em;
}

.minMaxCloseButtonDisabled{
  color: var(--titleBarColor);
}