#startMenuDiv{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 99.8vw;
  height: 3vh;
  
  display:flex;
  justify-content: flex-start;
  align-content: baseline;

  background: var(--windowsGrey);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid var(--titleBarColor);
  border-bottom: 1px solid var(--titleBarColor);

  padding-top: 4px;
}

.taskBarIcon{
  height: 18px;
  width: 18px;
  margin-right: 3px;
}

#startMenuSeparator{
  width: 2px;
  height:  70%;
  background: var(--windowsGrey);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid var(--titleBarColor);
  border-bottom: 1px solid var(--titleBarColor);
  margin-left: 8px;
  margin-right: 4px;

}

.taskBarButton{
  height: 66%;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid var(--titleBarColor);
  border-bottom: 1px solid var(--titleBarColor);
  
  min-width: 3%;

  margin-left: 5px;

  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 3px;

  box-shadow: 1px 1px 0 #404040;
}

.windowsTask{
  display: flex;
  min-width: 12%;
  justify-content: flex-start;
  align-items: baseline;
}