.taskBarIcon{
  position: relative;
  top: 1px;
  height: 17px;
  width: 18px;
  margin-right: 3px;
}

#startMenuSeparator{
  width: 2px;
  height: 1.7em;
  background: var(--windowsGrey);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid var(--titleBarColor);
  border-bottom: 1px solid var(--titleBarColor);
  margin-left: 8px;
  margin-right: 4px;

}

.taskBarButton{
  height: 80%;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid var(--titleBarColor);
  border-bottom: 1px solid var(--titleBarColor);
  
  min-width: 3%;

  margin-left: 5px;
  margin-top: 1px;

  padding-top: 0;
  padding-left: 4px;
  padding-right: 4px;
  /* padding-bottom: 1px; */

  box-shadow: 1px 1px 0 #404040;
}

.taskBarButton:hover{
  cursor: pointer;
}

.taskBarButton:active{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid var(--titleBarColor);
  border-top: 1px solid var(--titleBarColor);

  transform: translate(1px, 2px);
  background: #E9E7E3;
  box-shadow: -1px -1px 0 #404040;
}

.windowsTask{
  display: flex;
  min-width: 12%;
  justify-content: flex-start;
  align-items: center;
}

#ClockSpan{
  font-weight: bold;
}