.AutoFilterContent{
  padding-bottom: 3px;
  border: none;
}

.AFGroup{
  border: 1px solid #808080;
  box-shadow: 1px 1px white, inset 1px 1px white;
  margin: 9px 2px 2px 2px;
  font-size: 12px;
  width: 97%;
  text-align: left;
}

.AFGroupHeader{
  position: relative;
  top: -8px;
  left: 9px;
  background: #d4d0c8;
  text-align: left;
}

.AutoFilterWindow{
  position: absolute;
  top: 2em;
  right: 0;
  margin-right: 1em;
  box-shadow: 2px 2px 7px black;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid #808080;
  border-bottom: 3px solid #808080;
  background: #d4d0c8;
}