*{
  border-collapse: collapse;
  user-select: none;
}


:root{
  --titleBarColor: #808080;
  --windowsGrey: #D4D0C8;
  --leftColContentColor: #FFFBF0;
}

.leftCol{
  grid-column-start: 1;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 96;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#startMenuDiv{
  grid-column-start: 1;
  grid-column-end: -1;
  
  grid-row-start: 94;
  grid-row-end: 98;
  
  display:flex;
  justify-content: flex-start;
  align-content: baseline;

  background: var(--windowsGrey);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid var(--titleBarColor);
  border-bottom: 1px solid var(--titleBarColor);

  padding-top: 4px;
}

.externalButtonsDiv{
  grid-column-start: 1;
  grid-column-end: -1;

  grid-row-start: 98;
  grid-row-end: -1;

  height: 2%;

  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.digitalMicrographDiv{
  grid-column-start: 16;
  grid-column-end: -1;

  grid-row-start: 1;
  grid-row-end: 94;
  left: 15%;
  width: 85vw;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.tabsdiv{
  font-family: ms-sans, helvetica, arial, sans-serif;
  background: var(--windowsGrey);
}

.scrollarrows{
  margin-right: 2px;
  margin-bottom: 2px;
}

.titleBar{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background: linear-gradient(to right, #808080 40%, #C0C0C0);
  color: var(--windowsGrey);
  width: 100%;
  text-align: left;
  padding-left: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-weight: 800;
  font-size: 15px;
}

.tabBar{
  padding-top: 6px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.tabs{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 85%;
  white-space: nowrap;
  padding-top: 3px;
}

.tabsheader{
  display: inline-block;
  font-weight: lighter;
  font-size: 10px;
  margin-left: 0.2em;
  margin-bottom: 1em;
  padding: 0.3em 0.6em 0.1em 0.6em;
  border-width: 0.75px;
  border-color: #fff #333 transparent #fff; 
  border-style: solid;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.selectedTab{
  margin-top: -3px;
}

.fileMenuBar{
  background: var(--windowsGrey);
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
}

.fileMenuBarButton{
  margin-bottom: 0;
  padding: 5px 5px 3px 5px;
}

.fileMenuBarButtonSelected{
  border-top: 1px solid var(--titleBarColor);
  border-left: 1px solid var(--titleBarColor);
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  padding: 4px 4px 0px 4px;
  margin: 1px 0 1px 0;
  background: var(--windowsGrey);
  /* background: #e6e6eb;  */
  color: black;
}

/* .fileMenuBarButton:hover{
  background: blue;
  color: white;
} */

.fileMenuBarButton:active{
  border-top: 1px solid var(--titleBarColor);
  border-left: 1px solid var(--titleBarColor);
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  padding: 4px 4px 0px 4px;
  margin: 1px 0 1px 0;
  background: var(--windowsGrey);
  /* background: #e6e6eb;  */
  color: black;
}

.disabled{
  text-shadow: 1px 1px #fffbf0;
  color: #808080;
}

.expandBox{
  background: var(--windowsGrey);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid var(--titleBarColor);
  border-bottom: 1px solid var(--titleBarColor);
  box-shadow: 1px 1px black;
}

.expandBox:active{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px inset var(--titleBarColor);
  border-top: 1px inset var(--titleBarColor);
}

.expandBox:active *{
  transform: translate(1px, 1px);
}

*:focus{ outline: 0;}

.button:hover{
  cursor: pointer;
}

.scrollarrows{
  display: inline;
}

.arrowimage{
  width: 1em;
  height: .75em;
}


.arrowspan{
  background: #D4D0C8;
  border: solid 0.1em;
  border-color: white grey grey white;
}

.leftColWindowsDiv{
  height: auto;
  display:flex;
  flex-grow:1;
  flex-direction: column;
}

.leftColHeader{
  background: var(--titleBarColor);
  font-weight: bolder;
  font-size: 16px;
  padding: 0.3em 0.6em 0.1em 0.6em;
  color: white;
  text-align: center;
  vertical-align: middle;
  height: 23px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.3em;
  margin-top: 0.1em;
}

.leftColWindow{
  margin-left: 1px;
  background: var(--windowsGrey);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  outline: 1px solid var(--titleBarColor);
  padding: 1px 4px 7px 4px;
}

.leftColContent{
  margin-top: 4px;
  background: var(--leftColContentColor);
  display: flex;
  padding: 5% 3% 5% 3%;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--titleBarColor);
  box-shadow: 1px 1px white;
}

.windowsButton{
  background: var(--windowsGrey);
  outline: 1px solid black;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 2px solid var(--titleBarColor);
  border-bottom: 2px solid var(--titleBarColor);
  font-size: 11px;
  padding: 0 2px 0 2px;
  box-shadow: 2px 2px 1px var(--windowsGrey);
}

.windowsButton:active{
  border-top: 1px inset var(--windowsGrey);
  border-left: 1px inset var(--windowsGrey);
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.windowsSelect{
  border: 1px solid black;
  background: white;
}

.contentRow{
  display: flex;
  margin-bottom: 2em;
}

.leftAlignRow{
  display: flex;
}

.stackedButtons{
  margin-left: 5px;
  display:flex;
  flex-direction: column;
  width: 1em;
}

.contentRowText{
  margin-left: 5px;
  padding-top: 0;
  margin-top: 0.4em;
}

.stackedButtons > button{
  height: 10px;
  width: 16px;
  font-size: 0px;
}

.leftColFiller{
  height: auto;
  background: var(--windowsGrey);
  flex-grow: 1;
  margin-top:  2px;
  padding-left: 10px;
  outline: 1px solid var(--leftColContentColor)
}

.windowsText{
  font-family: helvetica, ms-sans, sans-serif;
}

.bold{
  font-weight: bold;
}

.titleBarIcon{
  margin-right: 3px;
}

.windowspopuptitlespan {
  height: 19px;
}

.windowspopuptitle {
  display: inline;
  font-weight: bold;
  font-size: 12px;
}

.windowspopupheader {
  background: linear-gradient(to left, #A6CAF0, #0A246A);
  font-size: 14px;
  color: white;
  margin: 3px 3px 3px 3px;
  text-align: center;
  vertical-align: middle;
  height: 23px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contentheader {
  position: relative;
  display: inline-block;
  left: 1em;
  top: 0.5em;
  background: #D4D0C8;
  height: 0.8em;
}

.windowspopupcontent {
  border: 1px solid #808080;
  margin: 1px 5px 5px 5px;
  padding: 3px 3% 3px 3%;
  width: 90%;
  box-shadow: 1px 1px white, inset 1px 1px white;
}

.windowspopuphalfcontent {
  border: 1px solid #808080;
  margin: 1px 5px 5px 5px;
  padding: 3px 3% 3px 3%;
  width: 87%;
  box-shadow: 1px 1px white, inset 1px 1px white;
}

.windowspopuptwocolbox {
  display: flex;
  flex-direction: row;
}

.windowspopupbox {
  width: 100%;
  line-height: 1em;
}
.windowspopupcontent:nth-child(2) {
  padding-top: 9px;
}

.windowspopuphalfcontent:nth-child(2) {
  padding-top: 9px;
}
.windowspopuprowrightalign {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3px;
}
.windowspopuprowrightalign * {
  margin-left: 5px;
}

.windowspopuprow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.windowspopuptwocol {
  width: 49.5%;
}

.windowspopuprowcentered {
  display: flex;
  margin-bottom: 2px;
  justify-content: center;
}

.windowspopupbox select {
  background: white;
  border: 1px solid #808080;
}

.testDiv{
  position: absolute;
  background: red;
  color: white;
}

.windowsWindow{
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;

}